body {
  margin: 0;

  padding: 0;
}

/* !!!!!!!!!!!!⇩--ヘッダー--⇩!!!!!!!!!!!! */

.header {
  margin: auto 0;

  width: 100%;

  height: 100px;

  margin-top: 20px;

  display: flex;

  justify-content: center;

  border-bottom: 1px solid yellowgreen;
  /* background-color: darkgrey; */
  /* color: white; */
}

.header > .header-inner {
  width: 1200px;

  height: 100px;

  display: flex;

  justify-content: space-between;
  /* background-color: darkgrey; */
}

.header > .header-inner > .logo {
  width: 300px;

  height: 100px;

  display: flex;

  align-items: flex-end;
  background-color: aqua;

  font-size: 50px;
}

.header > .header-inner > .logo > .logo-text {
  font-size: 30px;
}

.header > .header-inner > .tabs {
  display: flex;

  align-items: flex-end;

  width: 700px;
}

.header > .header-inner > .tabs > div {
  width: 150px;

  margin-left: 18px;

  font-size: 20px;
  font-family: "Tilt Neon", cursive;
}

.header > .header-inner > .header-right {
  display: flex;

  align-items: flex-end;
}

.header > .header-inner > .header-right > div {
  width: 100px;
  height: 100px;
}
.left-letter {
  margin: auto 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid greenyellow;
}
.left-letter > .left-letter-inner {
  width: 200px;
  height: 100px;
}
.left-letter > .left-letter-inner > .letter {
  font-size: 40px;
  font-family: "Tilt Neon", cursive;
}
/* !!!!!!!!!!!⇧--ヘッダー--⇧!!!!!!!!!!! */

/* .container > h1 {
  margin-top: 10px;

  margin-left: 30px;
} */

/* !!!!!!!!!!!!⇩--table--⇩!!!!!!!!!!!! */

/* .container-list,
.container-cnt {
  text-align: center;

  border: solid 1px;

  table-layout: auto;

  -----⇩--table内スクロール設定--⇩----

  max-height: 430px;

  height: auto;

  overflow-y: scroll;

  -----⇧--table内スクロール設定--⇧----
}

.container-list {
  margin: 10px;

  padding: 10px;

  width: 700px;

  float: left;
}

.container-cnt {
  margin: 10px;

  padding: 10px;

  width: 300px;

  float: right;
}

.container-list th,
.container-cnt th {
  padding: 5px;

  width: 700px;

  background: rgb(197, 250, 91);

  border: solid 1px;
  border-collapse: collapse;

  position: sticky;
  border-bottom: 2px solid black;
  border-top: 2px solid black;

  top: -10px;

  z-index: 1;
}
.container-middle > .container-middle-inner > .container-list > table {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 1px solid black;
  border-right: 1px solid;
}
.container-cnt th {
  background: rgb(27, 223, 17);
} */
/* 
.container-list td,
.container-cnt td {
  border: solid 1px; */
/* padding: 10px;
} */

/* !!!!!!!!!!!!⇧--table--⇧!!!!!!!!!!!! */
.border > .border-inner > .research {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 20px;
}
.border > .border-inner > .research > .research-inner {
  width: 1200px;
}
.border > .border-inner > .research > .research-inner > form > .section {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.border > .border-inner > .research > .research-inner > form > .section > div {
  margin-left: 10px;
}
.border
  > .border-inner
  > .research
  > .research-inner
  > form
  > .section
  > div
  > select {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border-color: greenyellow;
}

.border
  > .border-inner
  > .research
  > .research-inner
  > form
  > .section
  > div
  > button {
  width: 50px;
  height: 30px;
  background-color: rgb(0, 255, 127);
  border: none;
}
.border
  > .border-inner
  > .research
  > .research-inner
  > form
  > .section
  > div
  > .selected {
  border-color: rgb(27, 223, 17);
  width: 300px;
  height: 30px;
}
.container-middle {
  margin: auto 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-middle > .container-middle-inner {
  width: 1200px;
}
.border {
  margin: auto 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.border > .border-inner {
  border: 10px solid greenyellow;
  width: 1200px;
}
footer {
  margin: auto 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer > .footer-inner {
  width: 1200px;
  height: 200px;
}
