.container-middle {
  margin: auto 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-middle > .container-middle-inner {
  margin-top: 30px;
  width: 1600px;
  height: 800px;
  /* border: 1px solid black; */
  position: relative;
  /* justify-content: space-around; */
}

.container-middle > .container-middle-inner > .container-list {
  width: 1200px;
  height: 600px;
  /* border: 1px red solid; */
}

.container-middle > .container-middle-inner > .container-list > table {
  border-collapse: collapse;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  text-align: center;
  margin: 10px 10px;
  width: 1200px;
  height: 600px;
}

.container-middle
  > .container-middle-inner
  > .container-list
  > table
  > thead
  > tr
  > th {
  border-bottom: 3px solid black;
  height: 30px;
}
/* .container-middle
  > .container-middle-inner
  > .container-list
  > table
  > tbody
  > tr {
} */
.container-middle
  > .container-middle-inner
  > .container-list
  > table
  > tbody
  > tr
  > td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.container-middle
  > .container-middle-inner
  > .container-list
  > table
  > tbody
  > tr
  > td:nth-child(even) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.container-middle
  > .container-middle-inner
  > .container-list
  > table
  > tbody
  > tr:nth-child(even) {
  background-color: whitesmoke;
}

.container-cnt {
  position: fixed;
  right: 0;
  top: 120px;
}
.container-cnt > table {
  border-collapse: collapse;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  position: sticky;
  right: 0;
  text-align: center;
  width: 400px;
}
.container-cnt > table > thead > tr > th {
  border-bottom: 3px solid black;
  height: 30px;
}
.container-cnt > table > tbody > tr > td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
}
.container-cnt > table > tbody > tr > td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 25px;
}
.container-cnt > table > tbody > tr > td:nth-child(even) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.container-cnt > table > tbody > tr:nth-child(even) {
  background-color: rgb(172, 220, 239);
}
